{% extends "layout.html" %}

{% block content %}
<h2>Articles</h2>
<ul class="list-group">
    {% for article in articles %}
    <li class="list-group-item">
        <h5>
            <a href="{{ url_for('article', article_id=article.id) }}">
                {{ article.title }}
            </a>
        </h5>
        <p><strong>By:</strong> {{ article.author }}</p>
        <p>{{ article.body[:200] }}...</p>

        {% if article.image_url %}
            <img src="{{ article.image_url }}" 
                 alt="Article Image" 
                 class="img-fluid rounded mt-2" 
                 style="max-width: 300px;">
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
